.home-body {

    background: linear-gradient(200deg, #a0cfe4, #e8c37e);

    .header-box {}

    .main {
        display: flex;

        .classify-box {
            flex      : 2;
            height    : 100%;
            color     : #e5e5e5;
            width     : 360px;
            overflow  : hidden;
            overflow-y: auto;
        }

        .detail-box {
            flex: 6;
        }

        .article-list {
            flex: 6;
        }

        .right-box {
            // flex: 2;
            width: 200px;
        }

        @media screen and (max-width: 800px){
            .right-box {
                display: none;
            }
        }
    }

    .footer-box {}

}